@use "../2-mixins/mixins.index" as *;

/*
  General typography classes
*/

.u-type-align-center {
  text-align: center;
}

.u-type-align-left {
  text-align: left;
}

.u-type-align-right {
  text-align: right;
}

.u-type-weight-medium {
  font-weight: 500;
}

.u-type-weight-bold {
  font-weight: 700;
}

.u-type-link {
  @include jsd-type-link;
}
