@use "../2-mixins/mixins.index" as *;

:root {
  --offer-border: 0.0625rem solid var(--jsd-color-gray-300); // 1px
}

// Search panel
.search-wrapper {
  @include flex-container;
  background-color: var(--jsd-color-blue-50);
}

.search {
  color: var(--jsd-color-gray-900);
  padding-block: var(--jsd-space-56) var(--jsd-space-32);
  text-align: center;

  // TODO: Make it universal along with the .header__inner styles
  margin-inline: 9rem; // 160px
  padding-inline: 1rem;
  max-width: 100%;
  width: var(--content-width);

  @media (max-width: 1299px) {
    margin-inline: 5rem; // 160px
  }

  @media (max-width: 830px) {
    margin-inline: 0;
  }
}

.search__heading {
  @include jsd-type-h1;

  @media (max-width: 460px) {
    @include jsd-type-h2;
  }
}

.search__facts {
  @include jsd-type-h4-regular;
  margin-top: var(--jsd-space-16);
}

.search__input-block {
  display: grid;
  grid-template-columns: repeat(3, 3fr) 2fr;
  justify-content: space-between;
  gap: var(--jsd-space-12);
  padding-block: var(--jsd-space-24);

  @media (max-width: 830px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  @media (max-width: 460px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}

.search__input {
  @media (max-width: 460px) {
    grid-column: 1/3;
  }
}

.search__button {
  @media (max-width: 830px) {
    grid-column: 1/4;
  }

  @media (max-width: 460px) {
    grid-column: 1/3;
  }
}

.search__advanced {
  @include jsd-type-h4-regular;
  @include jsd-type-link-blue;
}

// Top companies panel
.top-companies-wrapper {
  @include flex-container;
}

.top-companies {
  @include flex-container($direction: column);
  gap: var(--jsd-space-24);
  padding-block: var(--jsd-space-32) var(--jsd-space-24);
  text-align: center;

  // TODO: Make it universal along with the .header__inner styles
  margin-inline: 9rem; // 160px
  padding-inline: 1rem;
  max-width: 100%;
  width: var(--content-width);

  @media (max-width: 1299px) {
    margin-inline: 5rem; // 160px
  }

  @media (max-width: 830px) {
    margin-inline: 0;
  }
}

.top-companies__heading {
  @include jsd-type-h2;
  color: var(--jsd-color-gray-900);
}

.top-companies__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
  gap: var(--jsd-space-16);
  width: 100%;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  @media (max-width: 460px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.company {
  @include flex-container($direction: column);
  gap: var(--jsd-space-8);
  border: 0.0625rem solid var(--jsd-color-gray-300);
  border-radius: var(--jsd-border-radius-4);
  cursor: pointer;
  height: 10.25rem; // 164px
  padding: var(--jsd-space-16) var(--jsd-space-12);
  transition: box-shadow 200ms ease-in-out;
  width: 100%;
}

.company:hover {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);

  .company__offers {
    text-decoration: none;
  }
}

.company__logo {
  @include flex-container($grow: 1);
  @include jsd-type-h1;
  background: no-repeat center url("../../assets/company-placeholder.png");
  height: 100%;
  width: 100%;

  &--last {
    background: none;
    color: var(--jsd-color-gray-500);
  }
}

.company__offers {
  @include jsd-type-body-14-regular;
  color: var(--jsd-color-gray-600);
  text-decoration: underline;
}

// Offers panel
.offers-wrapper {
  @include flex-container;
}

.offers {
  @include flex-container($direction: column);
  gap: var(--jsd-space-24);
  padding-block: var(--jsd-space-24) var(--jsd-space-56);

  // TODO: Make it universal along with the .header__inner styles
  margin-inline: 9rem; // 160px
  padding-inline: 1rem;
  max-width: 100%;
  width: var(--content-width);

  @media (max-width: 1299px) {
    margin-inline: 5rem; // 160px
  }

  @media (max-width: 830px) {
    margin-inline: 0;
  }
}

.offers__heading {
  @include jsd-type-h2;
  color: var(--jsd-color-gray-900);
  text-align: center;
}

.offers__container {
  @include flex-container($direction: column);
  width: 100%;
}

.offer {
  position: relative;
  @include flex-container($direction: column);
  gap: var(--jsd-space-8);
  border-top: var(--offer-border);
  padding-block: var(--jsd-space-24);
  width: 100%;

  &:last-of-type {
    border-bottom: var(--offer-border);
  }
}

.offer__first-row {
  display: grid;
  grid-template-columns: min-content 1fr auto;
  align-items: center;
  gap: var(--jsd-space-8);
  width: 100%;

  @media (max-width: 830px) {
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(2, auto);
  }
}

.offer__second-row {
  @include flex-container($justify: flex-start);
  gap: var(--jsd-space-8);
  overflow-x: auto;
  width: 100%;

  @media (max-width: 1024px) {
    padding-right: 2rem;
  }
}

.offer__badge-gradient {
  display: none;

  @media (max-width: 1024px) {
    position: absolute;
    right: 0;
    display: initial;
    height: 1.75rem;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgb(255, 255, 255) 100%
    );
    width: 2rem;
  }
}

.offer__position {
  @include jsd-type-h3;
  color: var(--jsd-color-gray-900);

  &:hover {
    color: var(--jsd-color-blue-500);
  }

  @media (max-width: 1024px) {
    @include jsd-type-h4;
  }
}

.offer__salary {
  @include jsd-type-h4;
  color: var(--jsd-color-gray-900);
  flex-shrink: 0;
  margin-left: auto;
  text-align: right;

  @media (max-width: 830px) {
    grid-column: 1/3;
    margin-left: initial;
    text-align: initial;
  }
}

.offer__date {
  @include jsd-type-body-14-regular;
  color: var(--jsd-color-gray-500);
  margin-left: auto;

  @media (max-width: 1024px) {
    order: -1;
    margin-left: initial;
  }
}
