// Flexbox layout (centered on both axes by default)
@mixin flex-container(
  $display: flex,
  $direction: row,
  $wrap: nowrap,
  $align: center,
  $justify: center,
  $grow: 0,
  $shrink: 1
) {
  display: $display;
  flex-direction: $direction;
  flex-wrap: $wrap;
  align-items: $align;
  justify-content: $justify;
  flex-grow: $grow;
  flex-shrink: $shrink;
}

@mixin center-x {
  left: 50%;
  transform: translateX(-50%);
}

@mixin center-y {
  top: 50%;
  transform: translateY(-50%);
}

@mixin center-xy {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin icon-fill-blue-500 {
  filter: invert(58%) sepia(46%) saturate(4032%) hue-rotate(194deg)
    brightness(90%) contrast(104%);
}

@mixin icon-fill-blue-800 {
  filter: invert(30%) sepia(30%) saturate(2811%) hue-rotate(185deg)
    brightness(95%) contrast(91%);
}

@mixin icon-fill-gray-500 {
  filter: invert(62%) sepia(9%) saturate(533%) hue-rotate(182deg)
    brightness(84%) contrast(83%);
}

@mixin icon-fill-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(224deg)
    brightness(105%) contrast(101%);
}

@mixin icon-fill-purple-500 {
  filter: invert(22%) sepia(84%) saturate(1986%) hue-rotate(247deg)
    brightness(94%) contrast(86%);
}

@mixin icon-fill-red-900 {
  filter: invert(9%) sepia(52%) saturate(6314%) hue-rotate(340deg)
    brightness(117%) contrast(113%);
}

// TODO
// Focus outline (used on buttons and all input types)
@mixin element-focus {
}
