@use "../2-mixins/mixins.index" as *;

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: var(--jsd-app-font-family);
  min-height: 100%;
}

img,
picture {
  display: block;
  max-width: 100%;
}
