@use "../2-mixins/mixins.index" as *;

:root {
  --content-width: 85rem; // 1360px
  --nav-height: 5rem; // 80px
}

.header {
  position: sticky;
  top: 0;
  @include flex-container;
  background-color: var(--jsd-color-neutral-white);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.header__inner {
  @include flex-container;
  height: var(--nav-height);
  margin-inline: 10rem; // 160px
  max-width: 100%;
  width: var(--content-width);

  @media (max-width: 1299px) {
    margin-inline: 5rem; // 160px
  }
}

.header__logo {
  width: 8.25rem; // 132px
}

.header__buttons {
  @include flex-container($shrink: 0);
  gap: var(--jsd-space-16);
  margin-left: var(--jsd-space-32);
}

.nav {
  @include flex-container($shrink: 0);
  gap: var(--jsd-space-24);
  margin-inline: 5rem auto; // 80px
}

.nav__item {
  position: relative;
  @include flex-container;
  cursor: pointer;
  height: var(--nav-height);
}

.nav__label {
  color: var(--jsd-color-gray-900);
}

.nav__underline {
  display: none;
}

// Active nav item
.nav__item--active {
  .nav__label {
    color: var(--jsd-color-blue-500);
    font-weight: 500;
  }

  .nav__underline {
    position: absolute;
    bottom: 0;
    display: inline-block;
    background-color: var(--jsd-color-blue-500);
    height: 0.25rem; // 4px
    width: 100%;
  }
}

// To be styled
.search-placeholder {
  background-color: var(--jsd-color-blue-50);
  height: 20rem;
}
