@use "../2-mixins/mixins.index" as *;

@mixin solid-button {
  color: var(--jsd-color-neutral-white);
  fill: var(--jsd-color-neutral-white);

  img {
    @include icon-fill-white;
  }
}

// Base styles
.jsd-button {
  @include flex-container;
  @include jsd-type-body-14-medium;
  border-radius: 0.25rem; // 4px
  cursor: pointer;
  transition: background-color 150ms ease-in-out, border 200ms ease-in-out;
  white-space: nowrap;
}

// Sizes
.jsd-button {
  // Extra Large
  &--size-xl {
    gap: var(--jsd-space-12);
    height: 3.5rem; // 56px
    padding-inline: var(--jsd-space-32);
  }

  // Large
  &--size-l {
    gap: var(--jsd-space-12);
    height: 3rem; // 48px
    padding-inline: var(--jsd-space-32);
  }

  // Medium
  &--size-m {
    gap: var(--jsd-space-8);
    height: 2.75rem; // 44px
    padding-inline: var(--jsd-space-16);
  }

  // Small
  &--size-s {
    gap: var(--jsd-space-8);
    height: 2.5rem; // 40px
    padding-inline: var(--jsd-space-16);
  }
}

// Color Variants
.jsd-button {
  // Green
  &--color-green {
    @include solid-button;
    background-color: var(--jsd-color-green-500);

    &:hover {
      background-color: var(--jsd-color-green-600);
    }
  }

  // Blue
  &--color-blue {
    @include solid-button;
    background-color: var(--jsd-color-blue-500);

    &:hover {
      background-color: var(--jsd-color-blue-600);
    }
  }

  // White
  &--color-white {
    background-color: var(--jsd-color-neutral-white);
    border: 0.0625rem solid var(--jsd-color-gray-300); // 1px
    color: var(--jsd-color-gray-600);
    fill: var(--jsd-color-gray-500);

    &:hover {
      border-color: var(--jsd-color-gray-400);
    }

    img {
      @include icon-fill-gray-500;
    }
  }
}
