@use "../2-mixins/mixins.index" as *;

// Base styles
.jsd-badge {
  @include flex-container($shrink: 0);
  gap: var(--jsd-space-4);
  border-radius: var(--jsd-border-radius-4);
  cursor: default;
  transition: border 100ms ease-in-out, box-shadow 100ms ease-in-out;
}

// Sizes
.jsd-badge {
  // Medium
  &--size-m {
    @include jsd-type-body-14-medium;
    height: 1.75rem; // 28px
    padding-inline: var(--jsd-space-8);
  }

  // Small
  &--size-s {
    @include jsd-type-body-12-bold;
    height: 1rem; // 16px
    padding-inline: var(--jsd-space-4);
  }
}

// Color variants
.jsd-badge {
  // Gray
  &--color-gray {
    background-color: var(--jsd-color-gray-200);
    color: var(--jsd-color-gray-900);

    img {
      @include icon-fill-gray-500;
    }
  }

  // Blue
  &--color-blue {
    background-color: var(--jsd-color-blue-100);
    color: var(--jsd-color-blue-800);

    img {
      @include icon-fill-blue-800;
    }
  }

  // Purple
  &--color-purple {
    background-color: var(--jsd-color-purple-100);
    color: var(--jsd-color-purple-500);

    img {
      @include icon-fill-purple-500;
    }
  }

  // Red
  &--color-red {
    background-color: var(--jsd-color-red-100);
    color: var(--jsd-color-red-900);

    img {
      @include icon-fill-red-900;
    }
  }
}
