.jsd-input {
  border: 0.0625rem solid var(--jsd-color-gray-300); // 1px
  border-radius: var(--jsd-border-radius-4);
  color: var(--jsd-color-gray-900);
  font-size: 0.875rem; // 14px
  height: 3.5rem;
  line-height: 1rem;
  padding-inline: var(--jsd-space-16);
  transition: border 100ms ease-in-out, box-shadow 100ms ease-in-out;

  &::placeholder {
    color: var(--jsd-color-gray-500);
  }

  &:focus-visible {
    border-color: rgb(31, 143, 255);
    box-shadow: 0 0 0 0.1875rem rgba(31, 143, 255, 20%); // 3px
  }
}
