:root {
  --jsd-app-font-family: "Roboto", sans-serif;

  // Border radius
  --jsd-border-radius-4: 0.25rem; // 4px

  // Layout variables
  --content-width: 85rem; // 1360px
  --nav-height: 5rem; // 80px
}
